[submodule "MAD/LAB_02/time_banking"]
	path = MAD/LAB_02/time_banking
	url = git@github.com:francescofiorella/time_banking.git
	branch = lab_02
[submodule "MAD/LAB_03/time_banking"]
	path = MAD/LAB_03/time_banking
	url = git@github.com:francescofiorella/time_banking.git
	branch = lab_03
[submodule "MAD/LAB_04/time_banking"]
	path = MAD/LAB_04/time_banking
	url = git@github.com:francescofiorella/time_banking.git
	branch = lab_04
[submodule "MAD/LAB_05/time_banking"]
	path = MAD/LAB_05/time_banking
	url = git@github.com:francescofiorella/time_banking.git
	branch = lab_05
[submodule "PDS/LABS_OS161/LAB_01/OS161-Labs"]
	path = PDS/LABS_OS161/LAB_01/OS161-Labs
	url = git@github.com:giuseppedandrea/OS161-Labs.git
	branch = lab-01
[submodule "PDS/LABS_OS161/LAB_02/OS161-Labs"]
	path = PDS/LABS_OS161/LAB_02/OS161-Labs
	url = git@github.com:giuseppedandrea/OS161-Labs.git
	branch = lab-02
[submodule "PDS/LABS_OS161/LAB_03/OS161-Labs"]
	path = PDS/LABS_OS161/LAB_03/OS161-Labs
	url = git@github.com:giuseppedandrea/OS161-Labs.git
	branch = lab-03
[submodule "PDS/LABS_OS161/LAB_04/OS161-Labs"]
	path = PDS/LABS_OS161/LAB_04/OS161-Labs
	url = git@github.com:giuseppedandrea/OS161-Labs.git
	branch = lab-04
[submodule "PDS/LABS_OS161/LAB_05/OS161-Labs"]
	path = PDS/LABS_OS161/LAB_05/OS161-Labs
	url = git@github.com:giuseppedandrea/OS161-Labs.git
	branch = lab-05
[submodule "AW1/PROJ/Meme-Generator"]
	path = AW1/PROJ/Meme-Generator
	url = git@github.com:giuseppedandrea/Meme-Generator.git
[submodule "SE/PROJ/EZShop"]
	path = SE/PROJ/EZShop
	url = git@github.com:giuseppedandrea/EZShop.git
