[submodule "PDS/LABS_OS161/os161-base-2.0.3"]
	path = PDS/LABS_OS161/os161-base-2.0.3
	url = git@github.com:giuseppedandrea/OS161-Labs.git
[submodule "MAD/LAB_02/time_banking"]
	path = MAD/LAB_02/time_banking
	url = git@github.com:francescofiorella/time_banking.git
	branch = lab_02
[submodule "MAD/LAB_03/time_banking"]
	path = MAD/LAB_03/time_banking
	url = git@github.com:francescofiorella/time_banking.git
	branch = lab_03
[submodule "MAD/LAB_04/time_banking"]
	path = MAD/LAB_04/time_banking
	url = git@github.com:francescofiorella/time_banking.git
	branch = lab_04
[submodule "MAD/LAB_05/time_banking"]
	path = MAD/LAB_05/time_banking
	url = git@github.com:francescofiorella/time_banking.git
	branch = lab_05
